.bar {
    background-color: #4f1d01;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    height: 48px;
}

.header {
    border-bottom: 2px solid white;
}

.footer {
    border-top: 2px solid white;
    position: absolute;
    bottom: 0;
}

.bar a.menu {
    float: right;
    background-color: #036140;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    width: 65px;
    text-decoration: none;
    font-size: 17px;
    border-left: 2px solid white;
    cursor: pointer;
}

.bar a.menu:hover {
    background-color: #ddd;
    color: black;
}
